---
import BlogLayout from "../layouts/BlogLayout.astro";
---

<BlogLayout>
	<img
		src="https://images.unsplash.com/photo-1682685797208-c741d58c2eff?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8"
		class="rounded-2xl max-h-64 min-w-full object-cover"
	/>
	<h1>My first Blog!</h1>
	<p>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium
		iusto temporibus fuga et, repellat facere exercitationem a vero
		aspernatur officia vel reprehenderit tempore qui, nihil aperiam aliquam
		aut numquam nobis. Quod beatae fuga, tempore laudantium perspiciatis
		rerum ea quasi explicabo quidem incidunt quos quis, ipsa nostrum.
		Repudiandae sit ea debitis ullam excepturi corrupti vero, quae minus
		blanditiis commodi sequi perferendis! Voluptatem, at? Pariatur neque cum
		commodi deleniti ex earum natus nesciunt quis nemo, ullam delectus
		excepturi esse numquam vero recusandae magni illum tempora ipsam dicta
		reiciendis assumenda voluptas at dolores. Excepturi illo illum ipsam
		labore, assumenda delectus rem repudiandae? Nesciunt quibusdam vel
		accusantium facere nostrum repudiandae dicta rerum quos beatae eos
		recusandae voluptatum nisi cumque, dignissimos quidem eius doloremque
		architecto! Totam, reprehenderit excepturi non expedita tempore ipsam
		officia provident! Consequatur similique ut, alias maxime repudiandae
		optio, odit expedita earum minus beatae debitis voluptatum laborum
		asperiores fuga veniam nostrum adipisci quibusdam! A modi deleniti enim
		nulla ipsam, magni voluptatum! Iste quas optio temporibus, amet
	</p>
	<blockquote>Helou</blockquote>

	<pre><code class="language-oython">print("Hello world")
        if(1==1):
            print("Hello world")
        else:
            print("hwy world")
    </code></pre>

</BlogLayout>
