---
import "../styles/globals.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body
		class="bg-slate-200 min-h-screen w-full flex flex-col justify-center max-w-2xl gap-4 m-auto p-10"
	>
		<h1 class="text-7xl font-extrabold">Hey im Someone, Nice to meet you!</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic maiores
			dolor, inventore velit officiis facilis laborum. Adipisci, neque ut
			perferendis suscipit cum voluptates, nisi sapiente, saepe illo id
			dolor at! Doloremque, labore voluptatibus! Omnis, repellat? Laborum
			omnis porro aperiam ipsum inventore harum rem natus expedita,
			excepturi voluptates quisquam accusamus voluptatem amet! Atque
			similique itaque quasi officia asperiores voluptatum fuga ab.
			Ratione nulla, at dicta debitis minima facilis ullam eveniet quae ab
			consequuntur, dignissimos molestias optio repellendus quam odit
			cupiditate porro nemo reprehenderit ad magnam sint velit consectetur
			nostrum nisi. Nesciunt?
		</p>
		<img
			src="/thispersondoesnotexist.jpg"
			class="w-full max-w-xs rounded-2xl"
		/>

		<h1>Projects</h1>
		<ol>
			<li>Project 1</li>
			<li>Project 2</li>
			<li>Project 3</li>
		</ol>
		<h1>Qualification</h1>
		<ul>
			<li>School Mai Pdhai Kari hai</li>
			<li>College mai tp keya :)</li>
			<li>Abhi bhi padh raha hu</li>
		</ul>
		<h1>Hobbies</h1>
		<ul>
			<li>Muje cycling aati hai :(</li>
		</ul>
		<h1>Blogs</h1>
		<ul>
			<li>Blog 1</li>
			<li>Blog 2</li>
			<li>Blog 3</li>
		</ul>
	</body>
</html>
