---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body
		class="bg-slate-200 dark:bg-[#111] dark:text-white grain min-h-screen w-full max-w-2xl gap-4 m-auto p-10 space-y-7 animate-fade-up prose prose-sm prose-invert"
	>
		<slot />
	</body>
</html>
